.item-box{
    display: flex;
    margin:10px auto 0;
    border:1px solid black;
   
    width: 200px;
    justify-content: space-between;
}
button{
    margin:1px;
}
.text-title{
    margin-left:2px;
}