.item-box{
    display: flex;
    margin:10px auto 0;
    border:1px solid #cdcdcd;
    background-color: #cdcdcd;
    box-shadow: 3px 2px 2px 0px #666868;
   
    width: 200px;
    justify-content: space-between;
}

.text-title{
    margin-left:2px;
}